<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sairamkrishna.myapplication">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayMusicActivity"
            android:label="@string/title_activity_play_music"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CaughtStealing"
            android:label="@string/title_activity_play_music"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FlashActivity"

            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".AlertSoundService"></service>
        <service android:name=".HeadphoneService"></service>
        <activity
            android:name=".PowerConnectionActivity"
            android:label="PowerConnectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Installed_item_activity"
            android:label="@string/title_activity_installed_item_activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <service
            android:name=".FlashService"
            android:enabled="true"
            android:exported="true"></service>
        <receiver
            android:name=".LoginAttemptListener"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin"
                />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.ACTION_PASSWORD_CHANGED"/>
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED"/>
                <action android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>